body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: linear-gradient(127deg, #393ce8, #2fc3e4, #9dbabb);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 13s ease infinite;
    -moz-animation: AnimationName 13s ease infinite;
    animation: AnimationName 13s ease infinite;
}

#container {
    display: none;
    justify-content: center;
    align-items: flex-start;
    border-width: 3px;
    border-color: white;
    border-style: solid;
}

.day {
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 25px;
    border-width: 3px;
    border-color: rgba(255, 255, 255, 0.616);
    border-style: solid;
   
}

.day div {
    margin: 5px;
}

#search {
    width: 300px;
    margin: 50px 50px 0 50px;
    padding: 10px;
    border-radius: 50px;
}

#btn-search {
    display: none;
}

#result-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 300px;

    background-color: rgba(255, 255, 255, 0.616);

}

#result-list div {
    width: 100%;
}

#result-list div:hover {
    background-color: rgba(179, 179, 179, 0.616);
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 52%
    }

    50% {
        background-position: 100% 49%
    }

    100% {
        background-position: 0% 52%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 52%
    }

    50% {
        background-position: 100% 49%
    }

    100% {
        background-position: 0% 52%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 52%
    }

    50% {
        background-position: 100% 49%
    }

    100% {
        background-position: 0% 52%
    }
}

#btnSearch { 
    display: none;
}

