:root {
    --background-coldest-gradient-color: hsl(240 100% 50%);
    /* prob need a middle gradient color too */
    --background-hottest-gradient-color: hsl(0 100% 50%);
    --container-opacities: 0;
    --container-widths: 0;
    --container-heights: 0;
    --container-user-select: none;
    --day-padding: 0;
    --day-opacity: 0;
}

@font-face {
    font-family: "Hero";
    src: url("./assets/Hero-Regular.ttf") format("truetype");
}

/* Custom scrollbar for autofill*/
/* Firefox */
#result-list {
    scrollbar-width: auto;
    scrollbar-color: #2b2b2b #ffffff00;
}

/* Chrome, Edge, and Safari */
#result-list::-webkit-scrollbar {
    width: 5px;
}

#result-list::-webkit-scrollbar-track {
    background: #ffffff00;
}

#result-list::-webkit-scrollbar-thumb {
    background-color: #2b2b2b;
    border-radius: 16px;
    border: 12px none #ffffff00;
    margin-right: 16px;
    overflow: hidden;
}

#container * {
    opacity: var(--container-opacities);
    width: var(--container-widths);
    height: var(--container-heights);
    user-select: var(--container-user-select);
    transition: all 200ms;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    margin: 0;

    /* font-family: "M PLUS 1", sans-serif; */
    font-family: "Hero", sans-serif;

    /* background: linear-gradient(127deg, #393ce8, #2fc3e4, #9dbabb); */
    background: linear-gradient(127deg,
            var(--background-coldest-gradient-color),
            var(--background-hottest-gradient-color));
    background-size: 600% 600%;

    -webkit-animation: animatedBackgroundGradient 13s ease infinite;
    -moz-animation: animatedBackgroundGradient 13s ease infinite;
    animation: animatedBackgroundGradient 13s ease infinite;
}

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;500;700&display=swap");

.base-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-vert-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    margin-bottom: 2rem;
}

.day-icon-container {
    gap: 1rem;
}

.precip-container,
.temp-container {
    width: 100%;
    gap: 0.5rem;
}

/* .precip-container>div {
    width: 25% !important;
} */

.current-temp-precip {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    gap: 0.25rem;
}

.current-weather-metadata {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.forecast-weather-metadata {
    gap: 1rem;
}

.day-precip-container {
    display: flex;
    flex-direction: column;
}

.day-icon-precip-container {
    gap: 1rem;
}

.raindrop,
.thermometer {
    width: 1.25rem !important;
}

.searchAndAutofillContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

input {
    outline: none;
}

input[type="text"]::placeholder {
    text-align: center;
}

#btnSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    width: 28px;
    height: 28px;
    padding: 0 !important;
    border-radius: 50%;
    cursor: pointer;

    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 2px solid rgba(255, 255, 255, 0.25);

    transition: all 200ms;
}

#btnSearch:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

#btnSearch:active {
    transform: scale(0.9);
    filter: brightness(0.9);
}

#searchIcon {
    width: 1.5rem;
    height: 1.5rem;
}

#city {
    display: none;
    margin-top: 3rem;
    margin-bottom: 0.75rem;
}

.current-day-container {
    opacity: var(--day-opacity) !important;
}

.daily-forecast-container {
    opacity: var(--day-opacity) !important;
    gap: 1rem;
}

.day-of-week,
#current-day-of-week {
    text-align: center;
}

#low-container,
#high-container,
#humidity-container,
#wind-container {
    height: fit-content;
}

#precip-percent-0,
#precip-percent-1,
#precip-percent-2,
#precip-percent-3,
#precip-percent-4,
#precip-percent-5,
#precip-percent-6 {
    width: fit-content;
}

#container {
    gap: 1em;
    transition: all 200ms;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;

    padding: var(--day-padding);

    border-width: 3px;
    background-color: rgba(216, 216, 216, 0.281);
    border-color: rgba(216, 216, 216, 0.616);
    border-radius: 5px;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;

    transition: all 200ms;

    background: rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 2px solid rgba(255, 255, 255, 0.25);

    opacity: var(--day-opacity) !important;
}

/* .day div {
    display: flex;
    margin: 5px;
} */

.loading {
    width: 100%;
    height: 100%;

    z-index: 500;
    opacity: 1;
    animation: skeleton-loading 1s linear infinite alternate;
}

#search {
    width: 300px;
    padding: 10px;
    border-radius: 50px;
    border-style: none;

    background: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
}

#result-list {
    position: absolute;
    top: 35px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    overflow: scroll;
    overflow-x: hidden;

    width: 300px;

    background: rgba(255, 255, 255, 0.35);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.25);
    border-width: 0px;

    z-index: 500;

    transition: all 200ms;
}

#result-list div {
    cursor: pointer;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

#result-list div:hover {
    background-color: rgba(179, 179, 179, 0.616);
}

@-webkit-keyframes animatedBackgroundGradient {
    0% {
        background-position: 0% 52%;
    }

    50% {
        background-position: 100% 49%;
    }

    100% {
        background-position: 0% 52%;
    }
}

@-moz-keyframes animatedBackgroundGradient {
    0% {
        background-position: 0% 52%;
    }

    50% {
        background-position: 100% 49%;
    }

    100% {
        background-position: 0% 52%;
    }
}

@keyframes animatedBackgroundGradient {
    0% {
        background-position: 0% 52%;
    }

    50% {
        background-position: 100% 49%;
    }

    100% {
        background-position: 0% 52%;
    }
}

@keyframes skeleton-loading {
    0% {
        background-color: hsla(199, 20%, 70%, 0.082);
    }

    100% {
        background-color: hsla(204, 20%, 95%, 0.664);
    }
}