:root {
    --container-opacities: 0;
    --container-widths: 0;
    --container-heights: 0;
    --container-user-select: "none";
    --day-padding: 0;
    --day-opacity: 0;
}

@font-face {
    font-family: "Hero";
    src: url("./assets/Hero-Regular.ttf") format("truetype");
}

#container * {
    opacity: var(--container-opacities);
    width: var(--container-widths);
    height: var(--container-heights);
    user-select: var(--container-user-select);
    transition: all 200ms;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    margin: 0;

    /* font-family: "M PLUS 1", sans-serif; */
    font-family: "Hero", sans-serif;

    background: linear-gradient(127deg, #393ce8, #2fc3e4, #9dbabb);
    background-size: 600% 600%;

    -webkit-animation: animatedBackgroundGradient 13s ease infinite;
    -moz-animation: animatedBackgroundGradient 13s ease infinite;
    animation: animatedBackgroundGradient 13s ease infinite;
}

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;500;700&display=swap");

.base-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-vert-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    margin-bottom: 2rem;
}

.day-icon-container {
    gap: 1rem;
}

.precip-container,
.temp-container {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
}

/* .precip-container>div {
    width: 25% !important;
} */

.current-temp-precip {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    gap: 0.25rem;
}

.current-weather-metadata {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.forecast-weather-metadata {
    gap: 1rem;
}

.day-precip-container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.day-icon-precip-container {
    gap: 1rem;
}

.raindrop,
.thermometer {
    width: 1.25rem !important;
}

.searchAndAutofillContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#btnSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    width: 28px;
    height: 28px;
    padding: 0 !important;
    border-radius: 50%;
    cursor: pointer;
    transition: all 200ms;
}

input[type="text"]::placeholder {
    text-align: center;
}

#searchIcon {
    width: 1.5rem;
    height: 1.5rem;
}

.btnSearch:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

.btnSearch:active {
    transform: scale(0.9);
    filter: brightness(0.9);
}

#city {
    display: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

.current-day-container {
    opacity: var(--day-opacity) !important;
}

.daily-forecast-container {
    opacity: var(--day-opacity) !important;
    gap: 1rem;
}

#container {
    /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

    /* align-items: flex-start; */
    gap: 1em;

    /* opacity: 0;
    transform: scale(0); */
    transition: all 200ms;
}



.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;

    padding: var(--day-padding);

    border-width: 3px;
    background-color: rgba(216, 216, 216, 0.281);
    border-color: rgba(216, 216, 216, 0.616);
    border-radius: 5px;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;

    transition: all 200ms;

    /* glassmorphism */
    /* background: rgba(255, 252, 252, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px; */

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 2px solid rgba(255, 255, 255, 0.25);

    opacity: var(--day-opacity) !important;
}

/* .day div {
    display: flex;
    margin: 5px;
} */

.loading {
    width: 100%;
    height: 100%;

    z-index: 500;
    opacity: 1;
    animation: skeleton-loading 1s linear infinite alternate;
}

#search {
    width: 300px;
    padding: 10px;
    border-radius: 50px;
    border-style: none;
}

#result-list {
    position: absolute;
    top: 35px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    overflow: scroll;
    overflow-x: hidden;

    width: 300px;

    /* box-shadow: rgb(0 0 0 / 23%) 0px 2px 10px;
    background-color: rgba(255, 255, 255, 0.616); */

    /* 
    background: rgba(255, 252, 252, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px; */

    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.25);
    border-width: 0px;
    /* if sticking with above need to make border width 0 while hidden... */

    z-index: 500;

    transition: all 200ms;
}

#result-list div {
    cursor: pointer;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

#result-list div:hover {
    background-color: rgba(179, 179, 179, 0.616);
}

@-webkit-keyframes animatedBackgroundGradient {
    0% {
        background-position: 0% 52%;
    }

    50% {
        background-position: 100% 49%;
    }

    100% {
        background-position: 0% 52%;
    }
}

@-moz-keyframes animatedBackgroundGradient {
    0% {
        background-position: 0% 52%;
    }

    50% {
        background-position: 100% 49%;
    }

    100% {
        background-position: 0% 52%;
    }
}

@keyframes animatedBackgroundGradient {
    0% {
        background-position: 0% 52%;
    }

    50% {
        background-position: 100% 49%;
    }

    100% {
        background-position: 0% 52%;
    }
}

@keyframes skeleton-loading {
    0% {
        background-color: hsla(199, 20%, 70%, 0.082);
    }

    100% {
        background-color: hsla(204, 20%, 95%, 0.664);
    }
}